version: '3.7'
services:
  mongo:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
  node:
    build: .
    container_name: nodeapp
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo